:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--base);
    color: var(--text);
    font-family: sans-serif;
}

body {
    padding: 0.5rem 0;
    box-sizing: border-box;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 599px) {
    body {
        flex-direction: column;
    }
}

.controls {
    text-align: center;
    flex: 1;
    max-width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#draw {
    display: block;
    width: 10rem;
    height: 10rem;
    image-rendering: pixelated;
    border: 1px solid var(--text);
    margin: 0 auto;
}

#prediction {
    text-align: center;
}

#meters {
    width: 80%;
    max-width: 25rem;
    flex: 1.5;
}

.meter {
    position: relative;
    width: 100%;
    height: 5%;
    min-height: 1rem;
    max-height: 5rem;
    margin: 0.1rem auto;
    padding: 0;
}

.meter > span {
    display: block;
    position: absolute;
    height: 100%;
}

.meter > span {
    width: 0;
    background-color: var(--surface2);
}

.meter > a {
    position: absolute;
    z-index: 9999;
    left: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}

a:link, a:visited { color: var(--blue); }

p {
    text-align: justify;
}
