:root {
    --rosewater: #f4dbd6;
    --flamingo: #f0c6c6;
    --pink: #f5bde6;
    --mauve: #c6a0f6;
    --red: #ed8796;
    --maroon: #ee99a0;
    --peach: #f5a97f;
    --yellow: #eed49f;
    --green: #a6da95;
    --teal: #8bd5ca;
    --sky: #91d7e3;
    --sapphire: #7dc4e4;
    --blue: #8aadf4;
    --lavender: #b7bdf8;
    --text: #cad3f5;
    --subtext1: #b8c0e0;
    --subtext0: #a5adcb;
    --overlay2: #939ab7;
    --overlay1: #8087a2;
    --overlay0: #6e738d;
    --surface2: #5b6078;
    --surface1: #494d64;
    --surface0: #363a4f;
    --base: #24273a;
    --mantle: #1e2030;
    --crust: #181926;
}

html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--base);
    color: var(--text);
}

#draw {
    display: block;
    width: 10rem;
    height: 10rem;
    image-rendering: crisp-edges;
    border: 1px solid var(--text);
    margin: 0.5rem auto;
}

.controls {
    text-align: center;
}

.meter {
    position: relative;
    width: 10rem;
    height: 2rem;
    margin: 0.25rem auto;
    padding: 0;
}

.meter > span {
    display: block;
    position: absolute;
    height: 100%;
}

.meter > span:nth-child(4) {
    width: 100%;
    z-index: 998;
    border: 0.5rem solid var(--base);
    background-color: transparent;
    box-sizing: border-box;
}

.meter > span:nth-child(3) {
    width: 100%;
    z-index: 999;
    border: 0.5rem solid var(--surface0);
    background-color: transparent;
    box-sizing: border-box;
    border-radius: 1rem;
}

.meter > span:nth-child(2) {
    width: 0;
    background-color: var(--surface2);
}

.meter > a {
    position: absolute;
    z-index: 9999;
    left: 0.5rem;
    top: 1rem;
    transform: translateY(-50%);
}
